@import '~src/theme';

.education{
  position: absolute; // needed here to overwrite mat-card position relative
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow-y: scroll;
}
.accordion{
  width: 100%;
}

.panel-description{
  display: flex;
  justify-content: end;
}
