<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <span>
    <mat-slide-toggle
      [checked]="isDarkMode"
      (change)="onDarkModeSwitched($event)"
    >Dark Mode</mat-slide-toggle
    >
  </span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">CV pdf De</a>
      <a mat-list-item href="#">CV pdf En</a>
      <a mat-list-item><mat-icon aria-hidden="false" aria-label="address">home</mat-icon></a>
      <who-contact-info></who-contact-info>


      <a mat-list-item href="#">Link 1</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>John Doe</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
