<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="4" [rowspan]="5">
      <mat-card class="subcard skills">

        <div class="slider">
          <h1>My special and soft skills</h1>

          <a href="#slide-1">1</a>
          <a href="#slide-2">2</a>
          <a href="#slide-3">3</a>
          <a href="#slide-4">4</a>
          <a href="#slide-5">5</a>
          <a href="#slide-6">6</a>
          <a href="#slide-7">7</a>

          <div class="slides">
            <div id="slide-1">
              <div>
                <h1>Spoken Languages</h1>
                <p>Click / hover to see language level</p>

                <div class="button-container">
                  <button mat-raised-button
                          matTooltip="Level C1"
                          aria-label="french level"
                          class="button french">FR
                  </button>
                </div>
                <div class="button-container">
                  <button mat-raised-button
                          matTooltip="Level C1"
                          aria-label="english level"
                          class="button english">EN
                  </button>
                  <button mat-raised-button
                          matTooltip="Mother tongue"
                          aria-label="german level"
                          class="button german">DE
                  </button>
                </div>
              </div>
            </div>
            <div id="slide-2">
              <h1>Flexible</h1>
            </div>
            <div id="slide-3">
              <h1>Communication’s ease</h1>
            </div>
            <div id="slide-4">
              <h1>Adaptability</h1>
            </div>
            <div id="slide-5">
              <h1>Perseverant</h1>
            </div>
            <div id="slide-6">
              <h1>Efficiency</h1>
            </div>
            <div id="slide-7">
              <div>
                <h1>Leadership</h1>
                <h1>Experience</h1>
              </div>
            </div>
          </div>
        </div>


      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
