.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dashboard-card:hover span{
  transform: scaleX(1.5) rotateY(180deg);
}

.fotoclass{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
