<div class="grid-container">
       <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows" >
        <mat-card class="example-ripple-container mat-elevation-z4 dashboard-card"
                  matRipple
                  [matRippleColor]="rippleColor"
                  [style.background]="card.color"
                  [ngClass]="card.title === '' ? 'fotoclass' : ''">
          <span>{{card.title}}</span>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="4" [rowspan]="4" >

      <mat-card class="dashboard-card" >
        CONTENT
      </mat-card>

      <ng-content></ng-content>
    </mat-grid-tile>
  </mat-grid-list>
</div>

