<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="4" [rowspan]="5" >
      <mat-card class="subcard professional" >
        <mat-accordion class="accordion">
          <h1>My professional Experiences</h1>
          <mat-expansion-panel (opened)="panel1OpenState = true"
                               (closed)="panel1OpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Job 1
              </mat-panel-title>
              <mat-panel-description class="panel-description">
                <span>in Vienna from 2020 to 2022</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h2>What I did there:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit</p>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="true" (opened)="panel2OpenState = true"
                               (closed)="panel2OpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Job 2
              </mat-panel-title>
              <mat-panel-description class="panel-description">
                <span>in Vienna from 2018 to 2020</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h2>What I did there:</h2>
            <p>Lead developer since 2021</p>
            <p>Software full stack development with:</p>
            <p>C#, Typescript, Javascript, Vue, Bootstrap 4, SQL, etc etc etc</p>
            <p>Scrum way of work</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panel3OpenState = true"
                               (closed)="panel3OpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Job 3
              </mat-panel-title>
              <mat-panel-description class="panel-description">
                <span>in Vienna in 2018</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h2>What I did there:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit</p>
          </mat-expansion-panel>

        </mat-accordion>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
